body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(SENAC\ FOTO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .Pinicial{
    font-size: 150%;
    font-variant: small-caps;
 }

 header {
    background-color: #6b5555;
    color: #fff;
    padding: 20px;
    text-align: center;
 }
 nav {
    background-color: #222;
    padding: 10px;
 }
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
